# Ignore build and lib dirs
build
builddir/
lib/*
output/
screenshots/current/

# Ignore executables
bin/*

# Ignore other artifacts
# *.png
*.whl

# Ignore mac specific files
.DS_Store


# Ignore subprojects files
subprojects/*/

.cache/
