# Ignore build and lib dirs
build
builddir/
lib/*
output/
screenshots/current/

# Ignore executables
bin/*

# Ignore other artifacts
# *.png
sipyro/*.png
sipyro/*.whl

# Ignore mac specific files
.DS_Store

# ignore Python bindings stuff
sipyro/sippyrocmodule.cpp
sipyro/sippyroPyro.cpp
sipyro/sipAPIpyro.h
sipyro/Makefile
sipyro/nosetests.xml
libpyro.so

# Ignore subprojects files
subprojects/*/

# Ignore Python stuff
*.pyc
.pytest_cache/
.mypy_cache/
__pycache__/
.noseids
